[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
flake8 = "*"
mysqlclient = {version = "*",sys_platform = "!= 'darwin'"}
psycopg2-binary = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-env = "*"

[dev-packages]
django-debug-toolbar = "*"
